head
  title AAM

body
  .container
    .row
      .col-md-10
        +auctions
      .col-md-2
        +menu

template(name="auctions")
  #auctions
    table.table.table-hover.text-center
      thead
        tr
          th.text-center Наименование
          th.text-center Автор
          th.text-center Цена
          th.text-center Шаг
          th.text-center Дата окончания
          th.text-center Покупатель
          th.text-center Сделать ставку
      tbody
        each auction
          +lot

template(name="lot")
  if isActive expirationDate
    if itsMe buyer
      tr.warning
        +lotBody
    else
      tr.active
        +lotBody
  else
    if itsMe buyer
      tr.success
        +lotBody
    else
      tr
        +lotBody

template(name="lotBody")
  td= name
  td= author
  td= price
  td= step
  td {{getExpirationDateText expirationDate}}
  td= buyer
  td
    if isActive expirationDate
      button.btn.btn-success.btn-sm.Buy(type="button" lotId= _id) Купить

template(name="menu")
  #menu.text-center
    button.btn.btn-primary.addbtn(data-toggle="modal" data-target=".bs-example-modal-sm") Добавить лот

    .modal.fade.bs-example-modal-sm
      .modal-dialog
        .modal-content
          .modal-header
            button.close(name="button" data-dismiss="modal" aria-hidden="true")&times;
            .modal-title Добавить лот
          .modal-body

            form(role='form')
              .form-group
                label(for='name') Название
                input.form-control(name='name', placeholder='Name')
              .form-group
                label(for='startPrice') Стартовая цена
                input.form-control(name='startPrice', placeholder='100')
              .form-group
                label(for='step') Шаг
                input.form-control(name='step', placeholder='10')
              .form-group
                label(for='expirationDate') Дата окончания
                .input-group.datetimepicker
                  span.input-group-addon
                    i.glyphicon.glyphicon-calendar
                  input.set-due-date.form-control(name='expirationDate', placeholder= setData )

              button.btn.btn-primary.Add(type="submit", data-dismiss="modal") Отправить
